.container {
  display: grid;
  grid-template-rows: repeat(11, auto);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 16px;
}

.title-label {
  grid-row: 1;
  grid-column: 1;
}

.title-input {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.image-button {
  grid-row: 2;
  grid-column: 4;
}

.description-lbl {
  grid-row: 3;
  grid-column: 1;
}

.description-input {
  grid-row: 4;
  grid-column: 1 / span 4;
  height: 5em;
}

.ing-label {
  grid-row: 5;
  grid-column: 1;
}

.cook-label {
  grid-row: 5;
  grid-column: 3;
}

.ing-input {
  grid-row: 6;
  grid-column: 1;
}
.ing-button {
  grid-row: 6;
  grid-column: 2;
}

.cook-input {
  grid-row: 6;
  grid-column: 3;
}
.cook-button {
  grid-row: 6;
  grid-column: 4;
}

.ing-list {
  grid-row: 7;
  grid-column: 1 / span 2;
}

.cook-list {
  grid-row: 7;
  grid-column: 3 / span 2;
}

.instruct-label {
  grid-row: 8;
  grid-column: 1;
}

.instruct-input {
  grid-row: 9;
  grid-column: 1 / span 3;
}

.instruct-button {
  grid-row: 9;
  grid-column: 4;
}

.step-list {
  grid-row: 10;
  grid-column: 1 / span 4;
  align-items: center;
  justify-content: center;;
}
.step-list li {
  width: 50%;
}

.submit-button {
  grid-row: 11;
  grid-column: 3 / span 2;
}
