.Signup-Container
   {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
   }

.Signup-Form
   {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 25vw;  
    background-color: bisque;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
   }

.Signup-Top
   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
   }

.Signup-Item-Group
   {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
   }

.Signup-Title
   {
    margin-bottom: 2vh;
   }

.Signup-Item
   {
    align-self: center;
    text-align: center;
    width: 90%;
    margin: 2%;
    height: 5vh;
   }

.Signup-Button-Group
   {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 4vh;
   }

.Signup-Button
   {
    width: 8vw;
    height: 100%;
    align-self: center;
    border-radius: 20px;
   }

.Error-Message
   {
    display: flex;
    align-items: center;
    color: red;
    height: 3vh;
    margin: 2vh;
   }

.Password-Match
   {
    display: flex;
    align-items: center;
    color: green;
    height: 3vh;
    margin: 2vh;
   }

@media only screen and (max-width: 600px)
    {
     .Error-Message, .Password-Match, .Signup-Button, .Signup-Title
        {
         font-size: small;
        }
    }